<div class="footer">
    @Html.ActionLink("Home", "Index", "Home", new {}, new {@class = "btn white"})
    @Html.ActionLink("Stylists", "Index", "Stylists", new {}, new {@class = "btn white"})
    @Html.ActionLink("Clients", "Index", "Clients", new {}, new {@class = "btn white"})
</div>