@{
    Layout = "_Layout";
}

<h1>Stylists</h1>

@model HairSalon.Models.Stylist

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new stylist" />
}