@{
    Layout = "_Layout";
}

<h1>Stylists</h1>

@using HairSalon.Models;

@if (@Model.Count == 0)
{
    <h3>No stylists on staff at this time.</h3>
}

@foreach (Stylist stylist in Model)
{
    <p>@Html.ActionLink(stylist.Name, "Details", "Stylists", new {id = stylist.StylistId})</p>
}