@{
    Layout = "_Layout";
}

<h1>New Client</h1>
<hr>
@model HairSalon.Models.Client

@using (Html.BeginForm("Create", "Clients"))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required = true})
    <br>
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <br>
    <input type="submit" value="Add new client" />
}